<!--Agregar navbar-->
<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
    <nav class="menu">
        <div>
            <a >Subir Producto </a>
            <a >Suscripciones</a>
            <a routerLink='wishlist' routerLinkActive="active" >Lista de Deseos</a>
            <a routerLink='published' routerLinkActive="active" >Publicados</a>
            <a routerLink='../navigationProducts' routerLinkActive="active" >Explorar</a>
                </div>
            <a routerLink='' routerLinkActive="active" >Salir</a>
        
    </nav>
    </div>
</header>

<!--Se intercambiara por los dierentes componentes-->
<router-outlet></router-outlet>

<!--Modal para agregar productos-->
<new-products></new-products>

<!--footer-->
<app-footer [url1]="ruta"></app-footer>