<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="" routerLinkActive="/landing">Inicio</a>
        </nav>
    </div>
</header>
<div class="login-container">
    <div class="div-img"><img class="image-container" src="../../../assets/Imagenes/registro.jpg" alt=""></div>
    <div class="icon-container" style="align-items: center ;">
        <i class="fa-solid fa-user" id="icon" style="margin-top:140px"></i>
        <i class="fa-solid fa-user" id="icon"></i>
        <i class="fa-solid fa-envelope" id="icon"></i>
        <i class="fa-solid fa-unlock" id="icon"></i>
        <i class="fa-solid fa-phone" id="icon"></i>
        <i class="fa-solid fa-location-dot" id="icon"></i>
    </div>
    <div class="login-info-container">
        <h1 class="title">Crea una nueva cuenta</h1>
        <form  [formGroup]="loginForm" class="inputs-container" id="id-form" action="" method="POST">
            <input [(ngModel)]="registro.var_name" class="input" type="text" placeholder="Escribe tu nombre" name="nombre" formControlName="nombre" required>
            <div class="errors-container" *ngIf="nombreControl.invalid && (nombreControl.touched || nombreControl.dirty)">
                <p class="errors-msg" *ngIf="nombreControl.hasError('required')">El campo es obligatorio</p>
                <p class="errors-msg" *ngIf="nombreControl.hasError('minlength')">Nombre muy corto</p>
            
            </div>
            
            <input [(ngModel)]="registro.var_lastname" class="input" type="text" placeholder="Escribe tu apellido" name="apellido" formControlName="apellido" required>
            <div class="errors-container" *ngIf="apellidoControl.invalid && (apellidoControl.touched || apellidoControl.dirty)">
                <p class="errors-msg" *ngIf="apellidoControl.hasError('required')">El campo es obligatorio</p>
                <p class="errors-msg" *ngIf="apellidoControl.hasError('minlength')">Apellido muy corto</p>
            
            </div>

            <input [(ngModel)]="registro.var_email" class="input" type="email" placeholder="Escribe correo: alguien@correo.com" name="correo" formControlName="email"  id="email" name="correo"  required>
                <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                    <p class="errors-msg" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
                    <p class="errors-msg" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
                </div>

            <input [(ngModel)]="registro.tex_password" class="input" type="password" placeholder="Escribe tu contraseña" name="password" formControlName="password" required>
            
            <div class="errors-container" *ngIf="passControl.invalid && (passControl.touched || passControl.dirty)">
                <p class="errors-msg" *ngIf="passControl.hasError('required')">El campo es obligatorio</p>
                 <p class="errors-msg" *ngIf="passControl.hasError('pattern')">La contraseña debe comenzar por una letra seguida de un numero luego un simbolo, e incluir mayusculas y minusculas</p>
            </div>

            <input [(ngModel)]="registro.var_phone" class="input" type="tel"  maxlength="8" name="tel" formControlName="telefono" placeholder="Telefono (Ej: 99991234)"
                required>
                <div class="errors-container" *ngIf="telControl.invalid && (telControl.touched || telControl.dirty)">
                    <p class="errors-msg" *ngIf="telControl.hasError('required')">El campo es obligatorio</p>
                    <p class="errors-msg" *ngIf="telControl.hasError('pattern')">Ingresa 8 numeros</p>
            </div> 
            
            <table class="table">
                <thead class="tbl-head">
                    <tr>
                        <td class="tbl-col-nombre">Selecciona tu ubicacion</td>
                        <td class="tbl-col-depto">
                            <select [(ngModel)]="registro.fk_id_department" class="selector" name="Departamento" formControlName="ubicacion">
                                
                                <option value="1">Atlantida</option>
                                <option value="2">Choluteca</option>
                                <option value="3">Colon</option>
                                <option value="4">Comayagua</option>
                                <option value="5">Copan</option>
                                <option value="6">Cortes</option>
                                <option value="7">El Paraiso</option>
                                <option value="8">Francisco Morazán</option>
                                <option value="9">Gracias a Dios</option>
                                <option value="10">Intibuca</option>
                                <option value="11">Islas de la Bahia</option>
                                <option value="12">La Paz</option>
                                <option value="13">Lempira</option>
                                <option value="14">Ocotepeque</option>
                                <option value="15">Olancho</option>
                                <option value="16">Santa Barbara</option>
                                <option value="17">Valle</option>
                                <option value="18">Yoro</option>
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="foot-container">

                <input type="checkbox" name="Terminos" class="input-chk" formControlName="check" required><span class="span">Para crear tu
                        cuenta acepta los <a href="#" class="link"  target="_blank">Terminos y Condiciones</a></span>
                <div class="errors-container" *ngIf="chkControl.invalid && (chkControl.touched || chkControl.dirty)">
                    <p class="errors-msg" *ngIf="chkControl.hasError('required')">Rellena este item</p>
                </div>
            </div>
            
            <button (click)="agregar()" type="submit" [disabled]="loginForm.invalid" class="btn" >Registrarme</button>
            
            <script src="../../../assets/js/validate.js"></script>
        </form>
        <p class="warning"></p>
    </div>
</div>

<footer class="pie-pagina">
    <div class="footer-container">
        <h5>PLAZITANET</h5>
        <ul class="list">
            <li>
                <a href="#">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#">Términos y Condiciones</a>
            </li>
        </ul>
        <p class="copyright"> PlazitaNet <i class="fa-regular fa-copyright"></i> 2022</p>
    </div>
</footer>

