<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="#">Inicio</a>
        </nav>
    </div>
</header>
<div>
    <h1 id="encabezado">¡Compra y vende con nosotros!</h1>
    <p id="parrafo">
        Realiza tus compras y ventas de forma segura, r&aacutepida y efectiva. <br>&nbsp &nbsp &nbsp &nbsp&nbsp
        &nbspGarantizamos tu compra/venta en muy poco tiempo.
    </p>
    </div>
    <div class="venta">
        <diV class="flex">
            <img src="../../../assets/Imagenes/compra.jpeg" alt="Imagen_venta" />
        </diV>
    </div>


<button class="btn1" routerLink="/register">Registrarme</button>
<button class="btn2">Ingresar</button>
<div class="header1">
</div>
<!---Probando footer-->
<footer class="pie-pagina">
    <div class="footer-container">
        <h5>PLAZITANET</h5>
        <ul class="list">
            <li>
                <a href="#">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#">Terminos y Condiciones</a>
            </li>
        </ul>
        <p class="copyright"> PlazitaNet <i class="fa-regular fa-copyright"></i> 2022</p>
    </div>
</footer>