<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="#">Inicio</a>
        </nav>
    </div>
</header>
<div>
    <h1 id="encabezado">¡Compra y vende con nosotros!</h1>
    <p id="parrafo">
        Realiza tus compras y ventas de forma segura, r&aacutepida y efectiva. <br>&nbsp &nbsp &nbsp &nbsp&nbsp
        &nbspGarantizamos tu compra/venta en muy poco tiempo.
    </p>
    <div class="venta">
        <diV class="flex">
            <img src="img/venta.jpeg" alt="Imagen_venta" />
        </diV>
    </div>
</div>

<button class="btn1" routerLink="/register">Registrarme</button>
<button class="btn2">Ingresar</button>
<div class="header1">
</div>
<!---Probando footer-->
<footer>
    <img src="img/Logo.png" alt="BrandLogo" width="50px" height="50px">
    <p>Sobre nosotros/Condiciones de uso</p>
    <p>Copyrigth © 2022 Brand Name</p>
</footer>