<head>
    <link rel="stylesheet" href="module2.component.css">
</head>
<body>
    <main>
        <form action="" class="formulario" id="formulario">
            <div class="formulario__modulo2" id="grupo_verificacion">
                <label for="CodigoVerificacion" class="formulario_codigo">Codigo de Verificacion</label>
                <div class="formulario__modulo-input">
                    <input type="text" class="formulario__input" name="codigo" id="codigo" placeholder="Codigo Verificacion">
                    <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
                <p class="formulario__input-error">Codigo de verificacion incorrecto</p>

            </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
                
            </div>
            <div class="formulario__modulo2 formulario__modulo2-btn-enviar">
                <button type="submit" class="formulario__btn" routerLink="../../module3/:email">Enviar </button>
            </div>
        </form>
    </main>
    <!--Ocupa el link de fondasun-->


</body>

