<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="" routerLinkActive="/landing">Inicio</a>
        </nav>
    </div>
</header>



<head>
    <link rel="stylesheet" href="module2.component.css">
</head>
<div id="formDiv">
    <form  [formGroup]="module2Form" class="inputs-container" id="id-form" action="" method="POST">
    <div>
        

        <h1>Ingresa el codigo de confirmación</h1>
        <h3>Hemos enviado un codigo a tu correo, revisa tu bandeja de entrada e introducelo a continuacion:.</h3>
        <input [(ngModel)]="modulo2.var_codigo" class="codigoVer" type="text" placeholder="2345awe" name="codigoVeri" formControlName="codigo"  id="codigo" name="codigo"  required>
       
    </div>
    <!--[disabled]="productoForm.invalid" -->

    <button type="submit" class="btn btn-success btn-lg float-end" routerLink="module3" (click)="obtenerCodigo()">Continuar</button>
</form>
</div>



   
