<div class="page-chat">
    <div class="bar-chats">
        <div *ngFor="let p of chats">
            <div class="bar-chats-content" (click)="getMessages(p.id_chat)">
                <div class="bar-chats-content-image" [style]="'background-image: url('+'http://localhost:3000/'+p.Foto+')'">
                </div>
                <div class="bar-chats-content-text">
                    <h4 style="font-size: 18px;">{{p.Producto}}</h4>
                    <h5 style="font-size: 15px;">{{p.Vendedor}}</h5>
                    <h6 style="font-size: 13px;">jjj</h6>
                </div>
                <div class="bar-chats-content-unread-chat">
                    <span>5</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="messenge">
        <div class="messenge-text" #messengeContainer>
            <h3 *ngIf="messenge == null || messenge.length == 0" style="margin-top: 50px; text-align:center;">Escriba un mensaje</h3>
            <div [class]="mes.fk_id_user==token? 'messenge-text-2':'messenge-text-1'" *ngFor="let mes of messenge">
                <h6 style="font-size: 11px; text-align: right; margin: 0px;">{{mes.tim_date.substring(0,10)}}</h6>
                <p>{{mes.text_contents}}</p>
            </div>
        </div>
        <div class="messenge-send">
            <div class="messenge-send-text">
                <form [formGroup]="dataMessenge" method="POST">
                    <textarea [(ngModel)]="dataM.text_contents" formControlName="messenge" placeholder="Escribe un mensaje aqui">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magni optio fuga laborum quas. Praesentium quod placeat, laboriosam repudiandae recusandae veritatis eum excepturi repellendus ut aliquam corporis exercitationem accusantium nemo repellat maiores aut minus temporibus tempora ipsam quas doloribus cum!
                    </textarea>
                </form>
            </div>
            <div class="messenge-send-button">
                <i class="fa-solid fa-paper-plane"></i>
            </div>
        </div>
    </div>
</div>
