
<div class="row">
  <div class="col s6">
    <div class="card" *ngFor="lef producto of productoList">
      <div class="card-image">
        
        <img class="cardImage" src="images/sample-1.jpg">
        <span class="card-title">{{{producto.card-title}</span>
      </div>
    
      <div class="card-content">
        <ul>
          <li><label class="precio"></label></li>
          <li><label>{{productoList[0].dou_price}}</label></li>
          <li><label></label></li>
          <li><label></label></li>
          <li><label></label></li>
          <li>
            <tr>
              <i class="fas fa-edit text-primary"></i>
              <i class="fas fa-trash text-danger"></i>
            </tr>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
