
<p>published-products works!</p>
<!--Productos publicados por el usuario-->

<div class="row">
    <div class="col-md-4 p-4" *ngFor="let photo of photos">
        <div class="card-header">
            {{photo}}
        </div>

        <img [src]="'http://localhost:4000' " alt="" class="img-card-top w-100">

    </div>
</div>
<div class="container1">
    <h1>¡Bienvenido!</h1>
</div>
<div class="container3">
    <h4 class="h4-class">Mis Productos Publicados</h4>
    <div class="select-container">
            
            
    </div> 
        
</div>

<div  class="carousel-container" >
    <div  class="gallery" >
        
        <div class="content" *ngFor="let item of items | slice:desde:hasta" >
            <img src=''>
            <table>
                <tr>
                    <td><h3>{{item.nombre}}</h3></td>
                    <td class="icon-col"><i id="fav-icon" class="fa-solid fa-trash-can"></i></td>
                </tr>
            </table>    
            <h6>{{item.precio}}</h6>
            <button class="buy">Editar</button>
        </div>

    </div>
    
</div>
<mat-paginator [length]="items.length"
              [pageSize]="pageSize"
              (page)="cambiarPagina($event)"
              >
</mat-paginator>


<!--Productos publicados por el usuario-->

