
<div class="row">
  <div class="col s6">
    <div class="card" *ngFor="lef producto of productos">
      <div class="card-image">
        
        <img class="cardImage" src="images/sample-1.jpg">
      </div>
      
      <!--
      <div>
      <span class="card-title">{{producto.titulo}}</span>
      </div>
      <div class="card-content">
        <ul>
          <li><label>{{productos:cuprecio}}</label></li>
          <li><label>producto:precio}}</label></li>
          <li><label>descripcion:{{el valor}}</label></li>
          <li><label>estado:{{el valor}}</label></li>
          <li><label>ubicacion:{{el valor}}</label></li>
        </ul>
      </div>
    -->
    </div>
  </div>
</div>