<div class="title-wishlist">
    <h1 class="title-wishlist-text">Lista de Deseos</h1>
</div>

<h2 *ngIf="error" class="text-emphy-product">{{afterGet.msg}}</h2>

<div *ngIf="!(error)" class="carousel-container">
    <div class="gallery">

        <div class="content" *ngFor="let item of afterGet.msg | slice:desde:hasta">
            <img [src]="'http://localhost:3000/' + item.var_name_photo" alt="">
            <div class="content-inf">
                <div class="content-inf-text">
                    <h4 style="font-size: 18px; text-align:left">{{item.var_name}}</h4>
                </div>
                <div style="width:20px">
                    <i (click)="removeProduct(item.id_product.toString())" class="fa-solid fa-heart icon-product"></i>
                </div>
            </div>
            <h6>L.{{item.dou_price}}</h6>
            <h6 *ngIf="">{{afterDelete.msg}}</h6>

            <!-- (click)="cargarProducto(item.id_product)"-->
            <div>
                <button class="ver" (click)="sumaVista(item.id_product.toString())"
                (click)="cargarProducto(item.id_product.toString())"
                (click)="cargarImagenes(item.id_product.toString())" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Ver</button>
            </div>
        </div>
    </div>
</div>

<h3 *ngIf="errorDelete" class="text-emphy-product">{{afterDelete.msg}}</h3>

<mat-paginator *ngIf="!(error)" [length]="afterGet.msg.length" [pageSize]="pageSize" (page)="cambiarPagina($event)">
</mat-paginator>

<!--modal-->


<!-- Modal -->


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="ngOnInit()"></button>
            </div>
            <div class="modal-body">


                <div class="gallery">

                    <!--*ngFor="let item of productoList"-->

                    <div class="content" *ngFor="let item of producto">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img [src]="'http://localhost:3000/'+firstImage" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" *ngFor="let image of images">
                                    <img [src]="'http://localhost:3000/'+image.var_name" class="d-block w-100"
                                        alt="...">
                                </div>
                                <!--<div class="carousel-item">
                        <img [src]="'http://localhost:3000/'+image.var_name" class="d-block w-100" alt="...">
                    </div>-->

                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>




                        <h3>{{item.titulo}}</h3>
                        <h6>L. {{item.dou_price}}</h6>
                        <p>{{item.text_description}}</p>
                        <p><strong>Estado:</strong> {{item.estado}}</p>
                        <p><strong>Categoria:</strong> {{item.categoria}}</p>

                        <p class="location-P"><i class="fa-solid fa-location-dot"></i> {{item.departamento}}</p>
                        <p class="views-p"><i class="fa-solid fa-eye"></i> {{item.int_views}}</p>

                        <div class="seller-container">
                            <h4><strong>{{item.nombre}} {{item.apellido}} </strong> </h4>
                            <p class="p-califica">Calificame</p>
                            <div class="star-widget">

                                <input type="radio" name="rate" id="rate-5" (click)="calificar(5)"
                                    [disabled]="toggleButton">
                                <label for="rate-5" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-4" (click)="calificar(4)"
                                    [disabled]="toggleButton">
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-3" (click)="calificar(3)"
                                    [disabled]="toggleButton">
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-2" (click)="calificar(2)"
                                    [disabled]="toggleButton">
                                <label for="rate-2" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-1" (click)="calificar(1)"
                                    [disabled]="toggleButton">
                                <label for="rate-1" class="fas fa-star"></label>
                            </div>
                            <p style="color: red; text-align: center;">{{paragraph}}</p>
                            <div class="btn-container">
                                <button type="submit" class="cbtn" style="background-color: #252f37">Contactar</button>
                                <button type="submit" class="cbtn"
                                    style="background-color: brown; margin-left: 20px;">Denunciar</button>
                            </div>
                        </div>
                    </div>
                    <!--<button class="buy-3">Contactar vendedor</button>-->

                </div>






            </div>
        </div>
    </div>
</div>