<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <div>
                <a routerLink='' routerLinkActive="active">Salir</a>
            </div>
        </nav>
    </div>
</header>
<div class="container-page">
    <div class="menu-admin">

        <div class="div-botones">
            <button>
                <i class="fa-regular fa-chart-bar"></i>Categorías
            </button>
            <br>
            <button>
                <i class="fa-solid fa-triangle-exclamation"></i>Denuncias
            </button>
            <br>
            <button>
                <i class="fa-solid fa-clock"></i>Expiración de anuncios
            </button>
            <br>
            <button>
                <i class="fa-solid fa-chart-line"></i>Estadísticas
            </button>

        </div>


            
    </div>
    <div class="components-container">
        
        <!--Se intercambiara por los dierentes componentes-->
        <router-outlet></router-outlet>
    </div>

</div>