

<head>
    <link rel="stylesheet" href="new-products.component.css">
</head>

<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Ingresa el producto
        </div>
        <div class="card-body">
            <form > <!--(submit)="uploadPhoto(title,descripcion)"-->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" required #title>
                </div>

                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Descripcion del producto" required #descripcion></textarea>
                </div>

                <input type="file" name="" id="" class="d-none"  #photoInput> <!--(change)="onPhotoSelected($event)"-->
                <img class="img-fluid" alt="no-image" (click)="photoInput.click()"> <!-- [src]="photoSelected || 'assets/no-image-produ.png'"-->


                

                <button class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>
    </div>

</div>


<!--
    <div class="container">
        <img *ngFor='let url of urls' [src]="url">
        <input type="file" (change)="onselect($event)" multiple>
    </div>
-->