

<head>
    <link rel="stylesheet" href="new-products.component.css">
</head>



<form>
    <div>
        <input (change)="capturarFile($event)" type="file">
    </div>
    <!--Previsualizacion-->
    <div *ngIf="previsualizacion">
        <img [src]="previsualizacion" alt="">
    </div> 

    <!--Boton para subir el archivo-->
    <div class="form-group">
        <input type="text" class="form-control" placeholder="titulo" #titulo required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="estado" #estado required>
    </div>

    <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="descripcion" required #descripcion></textarea>
    </div>


    <div>
        <button type="button" (click)="subirArchivo"></button>
    </div>

    <div>
        <input type="text" placeholder="titulo" name="titulo ">
    </div>
</form>



