/*img {
    display: block;
    margin: 10px;
    height: 230px;
    width: 250;
  }*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}
.container{
    width: 90%;

    max-width: 1200px;
    margin: auto;
}

.tbl-col-nombre{
    align-items: center;
    margin: auto;
    justify-items: center;
}

.card-body{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.form{
    /*height: 1vh;*/
    margin: 5%;
    /*display: flex;*/

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.table{
    margin: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-file{
    background-color: transparent;
    position: relative;
    height: 200px;
    border: solid 1px rgb(228, 228, 132228);
    margin-top: 1rem;
    cursor: pointer;
}

