<html>
  <header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Imagenes/LOGO2.png" alt="logo_empresa">
        </div>
        <nav class="menu">
            <a href="" routerLinkActive="/landing">Inicio</a>
        </nav>
    </div>
</header>

<div id="formDiv">
    <div>
        <div class="div-img" align="center">
            <img class="image-container" src="../../../assets/Imagenes/credential1.png" alt="">
        </div>

        <h1>¿No puedes iniciar sesión?</h1>
        <h3>Para restablecer tu contraseña, introduce la dirección de correo electrónico que usaste al crear tu cuenta.</h3>
            <input placeholder="micuenta@gmail.com" class="email">

<!--
        <div>
            <input type="radio" id="radio1">
            <h3>No puedo inicar por otros motivos</h3>

        </div>
-->
    </div>

    <button>Continuar</button>
</div>


